.App {
  text-align: center;
  overflow: hidden;
  height:100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.custom-file-upload {
  /* border: 1px solid #ccc; */
  background-color: #ccc;
  width: 50vw;
  height: 10%;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

body {
  background-color: #355e3a;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Funnel Sans", sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 2vw;
  cursor: pointer;
  background-color: #568259;
  border: black 0.7vw solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #fff;
  font-size: 10vw;
}

.supercoolheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #61dafb;
  margin-top: 20px;
  background-color: #2b5732;
  padding: 2vh 5vw ;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 1vh;
  position: fixed;
}

.supercoolbuttonicon{
  width: 10vw;
  height: 10vw;
  background-color: transparent;
}

.supercoolbackbutton:hover{
  background-color: transparent;
}

.supercoolbackbutton{
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 15vw;
  height: 15vw;
}

.pfp{
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #000000;
  position: fixed;
  top: 3vw;
  left: 3vw;
}

.username {
  font-size: 4.5vw;
  color: #fff;
  top: 3vw;
  margin: 3vw 0 0 27vw;
  align-self: left;
  text-align: left;
}
.usertitle {
  font-size: 4vw;
  color: #fff;
  top: 3vw;
  margin: 1vw 0 0 27vw;
  align-self: left;
  text-align: left;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  padding: 5vw;
  width: 90vw;
}

.nav-button {
  font-size: min(2rem, 6vw);
  width: 100%;
  aspect-ratio: 1;
}

.userlevel {
  width: 66vw;
  height: 3.5vw;
  background-color: #ccc;
  border-radius: 2vw;
  margin: 3vw 7vw 0 auto;
  left: auto;
  overflow: hidden;
  position: relative;
  border: black 0.7vw solid;
}

.levelprogress {
  width: 45vw;
  height: 3.5vw;
  background-color: #61fb66;
  margin: -0.7vw 0 0 -0.7vw;
  border-radius: 1.75vw; 
  transition: width 0.3s ease-in-out;
  border: black 0.7vw solid;
}

.quest-list-item {
  display: flex;
  align-items: center;
  background-color: #568259;
  color: #fff;
  text-decoration: none;
  margin-bottom: 2vh;
  border-radius: 20px;
  padding: 20px;
  width: 80vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 2em;
}

.level {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 3vw;
  font-weight: bold;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  flex-grow: 1;
}

.epicbox {
  width:88vw;
  height:55vw;
  background-color: #568259;
  border: black 0.7vw solid;
  border-radius: 10px;
}

.titleaa {
  font-size: 5vw;
  margin: 0;
}

.description {
  font-size: 3.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;  
}

.main-title {
  position: fixed;
  font-size: 6vw;
  font-weight: bold;
  top: -4vw;
  right: 2vw;
}

.supercoolheadertitle{
  color: #fff;
  font-size:8vw;
  font-weight:bold;
  margin: 0 2vw 0 0;
}
/* Minsun WAS HERe <3 */
.epicbushcraft{
  overflow:show;
}

.questlistcontainer {
  margin-top: 11vh
}

.whattodo {
  font-size: 5vw;
  color: #fff;
  margin: -40vw 0 0 2vw;
}

.epictent {
  width: 30vw;
  margin: 1vh 0 0 0;
}

.selectorthingy{
  margin: 0 0 1vh 0;
  color:white;
  font-size: 5vw;
  font-weight: bold;
  -webkit-text-stroke: 1px black; /* Adds a black stroke around the text */
}

.andfire{
  rotate: 10deg;
}

.custom-file-upload {
  background-color: #568259;
  text-align: center;
  width: 60vw;
  height: 10vh;
  border-radius: 5vw;
  font-size: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
